%body#zozotown
  #wrapper
    #gblHeader.header
      #hWrapper
        #header.clearfix
          %p#hLogo
            %a{:href => "http://zozo.jp/"} ZOZOTOWN
    #body.clearfix
      #content
        %article
          #contentHeader.clearfix
            %h1 ARIGATO!
            %p あああ様
            %p 注文ありがとうございます。
            = link_to "ZOZOTOWN トップへ" , root_path

